* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

footer{
  width:100%;
  position:absolute;
  bottom:0;
  background-color: rgb(40,40,40);
  padding:5px;

}
.container{
  margin:auto;
  width:min(95%,1300px);
  display: flex;
  padding:10px;

}
.col{
  padding:20px
}
#a1{width:37.5%}
#a2{width:25%}
  

h1{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: capitalize;
  position:relative;
}

h1::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0; /* Optional: positions underline at start */
  background-color: red;
  width: 50px;
  height: 4px;
}
p{
  font-size: 18px;
  font-weight: 300;
  color: white;
  line-height: 30px;
}
.firstp{
  padding-bottom: 30px;
}
li {
  padding:8px;
}
li a{
  text-decoration: none;
  color:white;
  font-size: 18px;
  transition: 0.3s ease;
}
li a:hover{
  color: red;
  transition: 0.3s ease;
}
input{
  border: 1px solid grey;
  width:100%;
  color:white;
  background-color: black;
  border-radius: 8px;
  padding:20px 20px
}
input::placeholder{
  font-size: 18px;
  color:grey
}
button{
  width:100%;
  background-color: red;
  border-radius: 8px;
  padding:10px 20px;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  
}
.btn{
  margin-top: 20px;
}
@media(width<1100px) {
  #a1,#a2{
    width:300px;
  }
  .container{
    flex-wrap: wrap;
  }
}
@media (width<700px){
  footer{
    position:relative;
  }

}
